In [1]:
import pandas as pd
from sqlalchemy import create_engine, text
import getpass  # so the password is not shown

password = getpass.getpass("MySQL root password: ")

MySQL root password:  ········

In [6]:
# >>> EDIT THESE THREE <<<
DB_NAME   = "final_proj_new"                                    # the database to create
CSV_PATH = "../data/clean/election_2017_clean.csv"              # path to a CSV in repo
TABLE_NAME = "example_table"                                    # how the table will be named

In [3]:
# connect to the MySQL server *without* picking a database yet
server_url = f"mysql+pymysql://root:{password}@localhost/"
server_engine = create_engine(server_url)

# create the database if it doesn't exist (utf8mb4 is a good default)
with server_engine.connect() as conn:
    conn.execute(text(f"CREATE DATABASE IF NOT EXISTS `{DB_NAME}` CHARACTER SET utf8mb4"))
    print(f"Database `{DB_NAME}` is ready.")

Database `final_proj_new` is ready.

In [4]:
db_url = f"mysql+pymysql://root:{password}@localhost/{DB_NAME}"
engine = create_engine(db_url)
engine  # just to see the Engine(...) line

Engine(mysql+pymysql://root:***@localhost/final_proj_new)

In [7]:
df = pd.read_csv(CSV_PATH)
df.head()

,bezirksname,wahlberechtigte_insgesamt,waehler,gueltige_stimmen,spd,cdu,gruene,fdp,afd,die_linke,wahlbeteiligung_prc,spd_prc,cdu_prc,gruene_prc,fdp_prc,afd_prc,die_linke_prc,others_prc
0,Charlottenburg-Wilmersdorf,220328.0,173125.0,170911.0,47579.0,50826.0,22837.0,15476.0,13565.0,16233.0,78.58,27.84,29.74,13.36,9.06,7.94,9.50,2.57
1,Friedrichshain-Kreuzberg,172386.0,133173.0,131738.0,21845.0,14850.0,37479.0,3865.0,6950.0,32212.0,77.25,16.58,11.27,28.45,2.93,5.28,24.45,11.03
2,Lichtenberg,205300.0,149116.0,147072.0,20720.0,28905.0,8609.0,5018.0,23119.0,51249.0,72.63,14.09,19.65,5.85,3.41,15.72,34.85,6.43
3,Marzahn-Hellersdorf,200704.0,138992.0,136785.0,17172.0,30480.0,4440.0,4852.0,28167.0,46782.0,69.25,12.55,22.28,3.25,3.55,20.59,34.20,3.58
4,Mitte,206706.0,151412.0,149071.0,35036.0,27654.0,26781.0,9017.0,11782.0,30492.0,73.25,23.50,18.55,17.97,6.05,7.90,20.45,5.57

In [8]:
# if_exists='replace' recreates the table each time; use 'append' if you want to add rows later
df.to_sql(
    TABLE_NAME,
    con=engine,
    if_exists='replace',
    index=False,
    method='multi',     # faster batch inserts
    chunksize=1000
)

print(f"Wrote {len(df):,} rows to `{DB_NAME}.{TABLE_NAME}`.")

Wrote 12 rows to `final_proj_new.example_table`.

# Sanity check

Now you can either use the read_sql function from pandas:

In [9]:
# show row count
pd.read_sql(text(f"SELECT COUNT(*) AS n_rows FROM `{TABLE_NAME}`"), con=engine)

   n_rows
0      12

In [12]:
# peek at a few rows
pd.read_sql(text(f"SELECT * FROM `{TABLE_NAME}` LIMIT 5"), con=engine)

,bezirksname,wahlberechtigte_insgesamt,waehler,gueltige_stimmen,spd,cdu,gruene,fdp,afd,die_linke,wahlbeteiligung_prc,spd_prc,cdu_prc,gruene_prc,fdp_prc,afd_prc,die_linke_prc,others_prc
0,Charlottenburg-Wilmersdorf,220328.0,173125.0,170911.0,47579.0,50826.0,22837.0,15476.0,13565.0,16233.0,78.58,27.84,29.74,13.36,9.06,7.94,9.50,2.57
1,Friedrichshain-Kreuzberg,172386.0,133173.0,131738.0,21845.0,14850.0,37479.0,3865.0,6950.0,32212.0,77.25,16.58,11.27,28.45,2.93,5.28,24.45,11.03
2,Lichtenberg,205300.0,149116.0,147072.0,20720.0,28905.0,8609.0,5018.0,23119.0,51249.0,72.63,14.09,19.65,5.85,3.41,15.72,34.85,6.43
3,Marzahn-Hellersdorf,200704.0,138992.0,136785.0,17172.0,30480.0,4440.0,4852.0,28167.0,46782.0,69.25,12.55,22.28,3.25,3.55,20.59,34.20,3.58
4,Mitte,206706.0,151412.0,149071.0,35036.0,27654.0,26781.0,9017.0,11782.0,30492.0,73.25,23.50,18.55,17.97,6.05,7.90,20.45,5.57

Or you can do it as in your example notebook:

In [17]:
with engine.connect() as connection:
    query = text(f"SELECT * FROM `{TABLE_NAME}` LIMIT 5")
    result = connection.execute(query)

Then you need to decide what to do with 'results'. Either you get a list of tuples:

In [18]:
rows = result.fetchall()
rows

[('Charlottenburg-Wilmersdorf', 220328.0, 173125.0, 170911.0, 47579.0, 50826.0, 22837.0, 15476.0, 13565.0, 16233.0, 78.58, 27.84, 29.74, 13.36, 9.06, 7.94, 9.5, 2.57),
 ('Friedrichshain-Kreuzberg', 172386.0, 133173.0, 131738.0, 21845.0, 14850.0, 37479.0, 3865.0, 6950.0, 32212.0, 77.25, 16.58, 11.27, 28.45, 2.93, 5.28, 24.45, 11.03),
 ('Lichtenberg', 205300.0, 149116.0, 147072.0, 20720.0, 28905.0, 8609.0, 5018.0, 23119.0, 51249.0, 72.63, 14.09, 19.65, 5.85, 3.41, 15.72, 34.85, 6.43),
 ('Marzahn-Hellersdorf', 200704.0, 138992.0, 136785.0, 17172.0, 30480.0, 4440.0, 4852.0, 28167.0, 46782.0, 69.25, 12.55, 22.28, 3.25, 3.55, 20.59, 34.2, 3.58),
 ('Mitte', 206706.0, 151412.0, 149071.0, 35036.0, 27654.0, 26781.0, 9017.0, 11782.0, 30492.0, 73.25, 23.5, 18.55, 17.97, 6.05, 7.9, 20.45, 5.57)]

Or column names:

In [19]:
cols = result.keys()
cols

RMKeyView(['bezirksname', 'wahlberechtigte_insgesamt', 'waehler', 'gueltige_stimmen', 'spd', 'cdu', 'gruene', 'fdp', 'afd', 'die_linke', 'wahlbeteiligung_prc', 'spd_prc', 'cdu_prc', 'gruene_prc', 'fdp_prc', 'afd_prc', 'die_linke_prc', 'others_prc'])

(there are probably lots of other data types one can extract from result)